#videos{
	text-align: center;
	padding-top: 5vh;
}
.html5-video-player {
	width:800px;
	height:600px;
}
.video-module-item{
	padding: 10px 0px;
	height: 100px;
}

.video-module-item-title{	
	float: left;
	/* background: green; */
	color: white;
	line-height: 0px;
	text-align: right;
	width: 48%;
}

.video-module-item-title-cont{
	float: right;
	text-align: left;
	padding-right: 2%;
}

.video-m-item-state{
	margin-top:10px;
}

.video-m-item-state.unviewed{
	color:white;
}

.video-m-item-state.viewed{
	color:chartreuse;
}

.video-module-item-progress {
	width: 48%;
	float: right;
	margin-left: 2%;
}

.donut-chart {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}
.donut-chart .slice {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.donut-chart .chart-center {
	position: absolute;
	border-radius: 50%;
}
.donut-chart .chart-center span {
	display: block;
	text-align: center;
}

.donut-chart.chart1 {
	width: 100px;
	height: 100px;
	background: grey;
}
.donut-chart.chart1.done{
	background: green;
}
.donut-chart.chart1 .slice.one {
	clip: rect(0 100px 50px 0);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	background:white;
}
.donut-chart.chart1 .slice.one.done{
	background:red;
}
.donut-chart.chart1 .slice.two {
	clip: rect(0 50px 100px 0);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	background: white;
}

.donut-chart.chart1 .slice.two.complete {
	background: grey;
}

.donut-chart.chart1 .slice.two.done{
	background: red;
}
.donut-chart.chart1 .slice.two.done.complete{
	background: green;
}
.donut-chart.chart1 .chart-center {
	top: 10px;
	left: 10px;
	width: 80px;
	height: 80px;
	background: #303030;
}
.donut-chart.chart1 .chart-center span {
	font-size: 40px;
	line-height: 180px;
	color: #50c690;
}

button.ui-btn.video-m-play-btn{
	width: 100%;
	padding: 0px;
	background: transparent;
	border: none;
	margin-top: 20%;
}

.video-m-play-btn img{
	width: 60%;
	height: 60%;
	margin: auto;
}
