#playlist{
	text-align: center;
	padding-top: 5vh;
}
#playlist h4
{
	font-family: 'OpenSans-Light';
	font-size: 0.9em;
	/* letter-spacing: 0.05em; */
	/* line-height: 1.3em; */
	padding-top: 10px;
	padding-bottom: 33px;
	color: white;
	float: left;
	width: 100%;
	text-align: left;
	padding-left: 1px;
	margin: 0px;
}
#playlist h2
{
	font-family: 'OpenSans-Bold';
	font-size: 1.6em;
	line-height: 0.9em;
	margin: 0px;
	padding: 0px;
}

.html5-video-player {
	width:800px;
	height:600px;
}
.playlist-item{
	width:100%;
	padding: 0px;
	/* height: 258px; */
	width: 100%;
	margin: 0px;
	/* margin-bottom: 0px; */
	/* padding-bottom: 105px; */
	/* background-color: rgba(0,0,0,0.1); */
}

.playlist-item-title{
	float: left;
	/* background: green; */
	color: white;
	line-height: 0px;
	text-align: right;
	width: 56%;
}

.playlist-item img{
	height: 174px;
	float: left;
}

#playlist-videoplayer
{
	width:100%;
	height:100%;
	margin-top: 20px;
}

#playlist-player{
	/* width: 640px; */
	height: 360px;
	/*height: 90%;
	padding: 25vh 0px;*/
}

#playlist-back{
	font-size: 20px;
	border: none;
	background: transparent;
	color: white;
	position: absolute;
	left: 14px;
   	margin-top: -30px;
}
