#modulos{
	color: #224099;
	text-align: center;
}

#preguntas{
	margin: auto;
}

#respuestas{
	text-align: center;
	/* padding: 0px 24vw; */
	width: 60%;
	max-width: 250px;
	margin: auto;
}

#respuestas-cont{
	text-align: left;
	margin: auto;
}

#respuestas input{
	margin:0px;
	left:-25px;
	width: 18px;
	height: 18px;
}

#player{
	width: 90%;
	height: 90%;
	padding: 25vh 0px;
}

.moduleImg.ui-btn{
	width: 80%;
	max-width: 500px;
	/* padding: 0px; */
	background: transparent;
	border: none;
}

.moduleImg.ui-btn button:active {
	outline:none
}

.moduleImg.ui-btn button:focus {
	outline:none
}

.moduleImg img{
	width:100%;
}

#fotos{
	max-width: 800px;
	text-align: center;
	margin: auto;
}

#img-quest input:active {
	outline:none
}

#img-quest input:focus {
	outline:none
}

#modulos .cont-footer{
	position: absolute;
	left: 0px;
	top: 72%;
	bottom: 0px;
	width: 100%;
	background-image: linear-gradient(135deg, #fff, #ccc);
}

#modulos .cont-footer img{
	width: 100%;
}
